//Typography

.h1 {
  font-size: calc(0.125rem * 18);
  font-family: PoppinsLight;
}

.h2 {
  font-size: calc(0.125rem * 12);
  font-family: PoppinsMedium;
}

.h3 {
  font-size: calc(0.125rem * 9.5);
  font-family: PoppinsMedium;
}

.h4 {
  font-size: calc(0.125rem * 7.5);
  font-family: PoppinsRegular;
}

.pl {
  font-size: calc(0.125rem * 6.5);
  font-family: PoppinsRegular;
}

.plb {
  @extend .pl;
  font-family: PoppinsMedium;
}

.ps {
  font-size: calc(0.125rem * 5.95);
  font-family: PoppinsLight;
}

.psb {
  font-size: calc(0.125rem * 5.95);
  font-family: PoppinsMedium;
}

//Icons
.post-icon {
  width: 0.85rem;
}

.standard-icon {
  width: 1rem;
}

.button-icon {
  width: 0.45rem;
}

//Buttons
.btn-prim {
  @extend .button;
  @extend .psb;
  @include light-shadow;
  padding: $space-10 $space-24;
  color: $prim-light;
  background: $main-gradient;

  a {
    color: $prim-light;
  }
}

.btn-sec {
  @extend .button;
  @extend .psb;
  @include light-shadow;
  padding: $space-8 $space-20;
  color: $secondary-color;
  background: $light-gradient;
}

.btn-light {
  @extend .button;
  @extend .ps;
  @include light-shadow;
  padding: $space-12 $space-24;
  color: $prim-dark;
  background: white;
}

.icon-btn {
  @extend .button;
  @include flex-center;

  span {
    padding: 10px;
    margin-right: $space-8;
    border-radius: 50%;
    background-color: white;
    margin-bottom: $space-4;
    @include large-shadow;
    @include flex-center;
    border: 1px solid $shadow-gray;
  }
  .btn-icon {
    @extend .button-icon;
  }
}

//Profile
.story-unseen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main-gradient;
  height: max-content;
  width: max-content;
  border-radius: 50%;
  padding: 1.75px;
  z-index: -1;

  .profile-image {
    width: $space-120;
    height: $space-120;
    border-radius: 50%;
    border: $space-8 solid whitesmoke;
    z-index: 1;
  }
}

//Story circle
.story-item {
  list-style-type: none;

  .profile-image {
    @include light-shadow;
    width: $space-96;
    height: $space-96;
  }
}

//Forms
.form-control {
  @include flex-center;
  padding: $space-12 $space-24;
  background-color: $gray-bg;
  border-radius: $space-8;
  margin: auto;

  img {
    @extend .standard-icon;
    margin-right: $space-12;
  }

  input {
    @extend .ps;
    width: 100%;
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  input::placeholder,
  -ms-input-placeholder {
    @extend .psb;
    color: $gray-text;
  }
}

//Brand

.brand {
  width: max-content;
  padding: 0.25rem 0.75rem;
  @include flex-center;

  .brand-icon {
    width: $space-32;
    margin-right: $space-16;
    opacity: 0.65;
  }

  .brand-name {
    @extend .h2;
    font-family: Billabong;
    @include flex-center;
    margin-top: $space-4;
    color: $prim-dark;
  }
}

//Navigation

nav {
  margin: 0 auto;
  padding: $space-24 0;
  @include flex-center;
  justify-content: space-between;

  @include mediaMd {
    width: 80%;
  }

  .nav-icon {
    @extend .standard-icon;
  }

  .nav-links {
    margin-top: $space-4;
    @include flex-center;

    .nav-item {
      padding: $space-4;
      margin: 0 $space-12;
      list-style-type: none;

      .help {
        color: $prim-dark;
        margin-bottom: $space-8;
      }
    }
  }
}

//Feed card

.feed-card {
  width: 100%;
  margin: $space-40 0;

  .feed-image {
    @include light-shadow;
    width: 100%;
    height: minmax(325px, 485px);
    border-radius: $space-12;
  }

  .feed-controls {
    width: 95%;
    margin: 0 auto;
    margin-top: $space-16;
    @include flex-center;
    justify-content: space-between;

    .post-user {
      @include flex-center;
      color: $gray-text;
    }

    .actions {
      @include flex-center;
      color: $prim-dark;

      .like {
        @include flex-center;
        margin-right: $space-16;

        .like-icon {
          @extend .post-icon;
          //width: $space-18;
          margin-right: $space-8;
        }
      }

      .comment {
        @include flex-center;

        .comment-icon {
          @extend .post-icon;
          margin-right: $space-8;
        }
      }
    }
  }
}
