//Typography

.h1 {
  font-size: calc(0.125rem * 18);
  font-family: PoppinsLight;
}

.h2 {
  font-size: calc(0.125rem * 12);
  font-family: PoppinsMedium;
}

.pl {
  font-size: calc(0.125rem * 10);
  font-family: PoppinsLight;
}

.pr {
  font-size: calc(0.125rem * 8);
  font-family: PoppinsLight;
}

.prb {
  font-size: calc(0.125rem * 8);
  font-family: PoppinsMedium;
}

.ps {
  font-size: calc(0.125rem * 7);
  font-family: PoppinsLight;
}

.psb {
  font-size: calc(0.125rem * 7);
  font-family: PoppinsMedium;
}

.px {
  font-size: calc(0.125rem * 6);
  font-family: PoppinsRegular;
}

.pxb {
  font-size: calc(0.125rem * 6);
  font-family: PoppinsMedium;
}

//Buttons
.btn-prim {
  @extend .button;
  @extend .pxb;
  @extend .light-shadow;
  padding: $space-10 $space-24;
  color: white;
  background: $main-gradient;
}

.btn-sec {
  @extend .button;
  @extend .pxb;
  @extend .light-shadow;
  padding: $space-8 $space-20;
  color: $sec-color;
  background: $light-gradient;
}

.btn-light {
  @extend .button;
  @extend .px;
  @extend .medium-shadow;
  padding: $space-12 $space-24;
  color: $sec-dark;
  background: white;
}

.icon-btn {
  @extend .button;
  @extend .flex-center;

  span {
    padding: 10px;
    margin-right: $space-8;
    border-radius: 50%;
    background-color: white;
    margin-bottom: $space-4;
    @extend .large-shadow;
    @extend .flex-center;
  }
  .btn-icon {
    width: $space-8;
  }
}

.link-icon {
  width: $space-20;
}

//Profile
.story-unseen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main-gradient;
  height: max-content;
  width: max-content;
  border-radius: 50%;
  padding: 1.75px;
  z-index: -1;

  .profile-image {
    width: $space-120;
    height: $space-120;
    border-radius: 50%;
    border: $space-8 solid white;
    z-index: 1;
  }
}

//Forms
.form-control {
  @extend .flex-center;
  padding: $space-8 $space-16;
  background-color: $input-white;
  border-radius: $space-8;
  margin: auto;

  img {
    margin-right: $space-12;
  }

  input {
    @extend .ps;
    width: 100%;
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  input::placeholder,
  -ms-input-placeholder {
    @extend .psb;
    color: $gray;
  }
}

//Brand

.brand {
  width: max-content;
  padding: 0.25rem 0.75rem;
  @extend .flex-center;

  .brand-icon {
    width: $space-32;
    margin-right: $space-16;
    opacity: 0.65;
  }

  .brand-name {
    font-family: Billabong;
    @extend .flex-center;
    margin-top: $space-4;
    color: $sec-dark;
  }
}

nav {
  margin: 0 auto;
  padding: $space-24 0;
  @extend .flex-center;
  justify-content: space-between;

  @include mediaMd {
    width: 80%;
  }

  .nav-links {
    margin-top: $space-4;
    @extend .flex-center;

    .nav-item {
      padding: $space-4;
      margin: 0 $space-12;
      list-style-type: none;

      .help {
        color: $sec-dark;
        margin-bottom: $space-8;
      }
    }
  }
}

.feed-card {
  width: 100%;
  margin: $space-40 0;

  .feed-image {
    @extend .medium-shadow;
    width: 100%;
    height: minmax(325px, 400px);
    border-radius: $space-12;
  }

  .feed-controls {
    width: 95%;
    margin: 0 auto;
    margin-top: $space-16;
    @extend .flex-center;
    justify-content: space-between;

    p {
      margin-top: $space-4;
      color: $prim-dark;
    }

    .post-user {
      @extend .flex-center;

      p {
        color: $sec-dark;
      }

      .user-image {
        width: $space-24;
        border-radius: 50%;
        margin-right: $space-10;
      }
    }

    .actions {
      @extend .flex-center;

      .like {
        @extend .flex-center;
        margin-right: $space-16;

        .like-icon {
          width: $space-18;
          margin-right: $space-8;
        }
      }

      .comment {
        @extend .flex-center;

        .comment-icon {
          width: $space-18;
          margin-right: $space-8;
        }
      }
    }
  }
}
