.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.light-shadow {
  box-shadow: 1.2px 1px 18px $shadow-gray;
}

.large-shadow {
  box-shadow: 0 $space-20 $space-32 $shadow-gray;
}

.button {
  @extend .ps;
  border: none;
  border-radius: $space-6;
  background: transparent;

  &:focus {
    outline-color: $secondary-color;
  }
}

//icon notify
.notify {
  position: relative;
  bottom: 11px;
  right: 4px;
  color: $accent-color;
}
