.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.light-shadow {
  box-shadow: 0.45px 0.45px 1.5px #fae1e9;
}

.medium-shadow {
  box-shadow: $space-4 $space-4 $space-24 #fae1e9;
}

.large-shadow {
  box-shadow: 0 $space-20 $space-32 #d4d4d4c0;
}

.button {
  @extend .px;
  border: none;
  border-radius: $space-6;
  background: transparent;

  &:focus {
    outline-color: $sec-color;
  }
}

//icon notify
.notify {
  position: relative;
  bottom: 10px;
  color: $sec-color;
}
