//Gradients
$main-gradient: linear-gradient(to right, #e33769, #faa349);
$light-gradient: linear-gradient(to right, #fae1e9, #fef2e4);

//Solid colors
$primary-color: #c32d92;
$sec-color: #f99d4c;
$prim-dark: #202129;
$sec-dark: #555566;
$gray: #92949f;
$shadow-mid: #c9c9c9;
$shadow-light: #d4d4d4c0;
$input-white: #f5f5f5;
